
<body>
    <header>
        <h1>Employee Management System</h1>
        <p style="color: #ff4081;">Building a Better Tomorrow</p>
    </header>

    <section>
        <hr/>
        <img style=" box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);" src="assets/Employee-Management-System.png">
        <hr/>
        <h2>Our Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel turpis eget justo tristique congue id a elit. Quisque non diam leo.
             Nulla facilisi. Vivamus tristique rhoncus justo vel rhoncus. In hac habitasse platea dictumst.</p>

        <h2>Our Values</h2>
        <ul>
            <li>Integrity</li>
            <li>Innovation</li>
            <li>Customer Satisfaction</li>
            <li>Teamwork</li>
        </ul>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>Email: info@companyname.com</p>
        <p>Phone: +1 (123) 456-7890</p>
        <p>Address: Mangaluru</p>
    </section>
</body>


